@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

.top{
    background-color: white;
}
head{
    background-color: white;
}
body{
    padding: 40px;
    background-color: grey;
    border-top: white;
    border-top-width: 30px;
}
.container jumbo{
    background-color: yellow;
    color: white;
    padding: 0%;
}
#navbar{
    padding: 0%;
    overflow: hidden;
    background-color: gray;
}
#navbar a {
    float: left;
    display: left;
    color: black;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}
.content {
    padding: 16px;
}

*{
    color: black;
}
.blocka {
    background-color: red;
}
img{
    border-style: groove ;
}
.p brief {
    border-right: solid 3px rgba(white, grey, blue, alpha);
    white-space: nowrap;
    overflow: hidden;
    font-family: 'source Code Pro', monospace;
    font-weight: 28px;
    color:black;
    animation: animated-text 4s steps(29, end) 1s 1 normal both, animated-cursor 600ms steps(29, end) infinite;
}
.footer text-info{
    align-items: center;
    align-content: center;
    text-align: center;
}

/*Animation*/

 @keyframes animated-text{
    from{width: 0;}
     to{width: 1000px;}
 }

 /*   cursor animation */
 @keyframes animated-cursor{
     from{border-right-color: rgba(0, 255, 0, .75);}
     to{border-right-color: transparent;}
 }
/*-----media tag*/

@media (max-width: 992px){
 .social a { 
     font-size: 4em;
     padding: 2rem;
 }  
}
@media(max-width: 768px){

    .carousel-caption-h1{
        font-size: 350%;
        text-transform: uppercase;
        
    }
    .carousel-caption-h3 {
        font-size: 140%;
        font-weight: 400%;
        padding-bottom: .2rem;   
    }
  .display-4 {
      font-size: 200%;
  }
  .social a { 
    font-size: 2.5em;
    padding: 1.2rem;
}   
}
@media (max-width: 576px){
    .carousel-caption-h1{
        font-size: 250%;
        text-transform: uppercase;
        
    }
    .carousel-caption-h3 {
        font-size: 110%;
         display: none;
    }

}


@import "../node_modules/bootstrap/scss/bootstrap";